<script>
  $(window).load(function() {
    var data_obj = $.parseJSON(<%= raw(@data.to_json) %>);
    var params = $.parseJSON(<%= raw(@params.to_json) %>);
    generate_map(data_obj, '#map_div', params);
  });
</script>

<div id="map_div">

</div>
